@font-face{
    font-family: Mija;
    src: url(fonts/mija_regular-webfont.woff2);
}

body{
    font-family: Mija, monospase;
}

/*header {
    padding-left: 1000px;
}*/
.header {
    background: #d33a2c;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    /*comment*/
    padding: 20px 30px;
    /*padding-left: 500px;*/
}
.menu{
    display: flex;
    margin: 0 20px;
}

.menu a {
    text-decoration: none; 
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.menu img {
    margin-bottom: 10px; 
    width: 30px;
    transition: all .3s;
}

.menu a:hover img {
    transform: rotate(-20deg) scale(1.2);

}
.menu p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0,8px;
    margin-bottom: 5px;
}
.menu span{
    font-size: 11px;
    font-style: italic;
    display: block;
    text-align: center;

}

.logo img {
    width: 75px;
    transition: all .3s;
}
.logo:hover img {
    transform: rotate(720deg) scale(.5)

}
.search {
     position: relative; 
}
.search input {
    padding: 10px 15px 10px 45px;
    font: 16px Mija, sans-serif;
    border-radius: 7px;
    border: none; 
    outline: none;
    transition: all .3s;
    

   
    /*font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    font-family: Mija;*/

}
.search input:focus {
    box-shadow: inset 0 0 10px 10px 0 rgba(150, 0, 0, 0,8);
}
.search button {
    background: #fff url('../images/Src.svg') no-repeat center center;
   /* background-position: center center;*/
    background-size: cover;
    position: absolute;
    top: 2px;
    left: 2px; 
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    outline: none;
}
